body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.left-links {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.top-header {
    display: flex;
    align-items: center;
    gap: 500px;
}

.bottom-header {
    display: flex;
    margin-bottom: 100px;
    gap: 150px;
}

.bigt {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 400px;
}

.smallt {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 5px;
    font-size: 18px;
    margin-top: 8px;
    width: 100px;
}

img {
    width: 400px
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.infobottom {
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 8px;
}

.image {
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-radius: 8px;
    border-color: #3882f6;
}

.infotop {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.text {
    display: flex;
    text-align: center;
}

.quotebox {
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 900px;
    text-align: left;
}

.sign {
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 50px;
    text-align: right;
    width: 900px;
}